@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --background: #121212;
    --background-lighter: #202020;
    --background-secondary: #1A1A1A;
    --background-secondary-lighter: #252525;
    --blue: #007FFF;
    --red: #EA594C;
    --purple: #8F10FF;
}

* {
    color-scheme: dark;
    font-family: 'ADLaM Display', Arial;
}

body {
    background-image: linear-gradient(var(--background), var(--background-lighter));
    background-repeat: no-repeat;
    padding-inline: 8em;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 10em;
}

.heading-text {
    font-size: 96px;
}

header {
    display: flex;
}

.line {
    border-left: 2px white solid;
    margin-right: 2em;
}

.gradient-button {
    appearance: none;
    border: none;
    padding: 1px;
    border-radius: 20px;
    transition: box-shadow 0.5s ease-in-out;
}

.gradient-button-pixilart {
    background-image: linear-gradient(to bottom right, #FF315A, white);
    /* background-color: #FF315A; */
    box-shadow: #FF315A 0 0;
}

.gradient-button-pixilart:hover {
    cursor: pointer;
    box-shadow: #FF315A 0 0 20px;
}

.gradient-button-github {
    background-image: linear-gradient(to bottom right, #171515, white);
    box-shadow: #433d3d 0 0;
}

.gradient-button-github:hover {
    cursor: pointer;
    box-shadow: #433d3d 0 0 20px;
}

.button-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-block: 1em;
    padding-inline: 2em;
    background-color: var(--background-secondary);
    border-radius: 20px;
}

.button-content-container > img {
    height: 3em;
}

.hobbies {
    gap: 2em;
    text-align: center;
}

#project-list {
    display: flex;
    gap: 2em;
}

.project-card {
    max-width: 50ch;
    padding: 1.5em;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, var(--background-secondary), var(--background-secondary-lighter));
    box-shadow: black 0 0 15px;
}

.project-link-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.project-link {
    appearance: none;
    padding: 0.5em;
    background-color: var(--background);
    border: none;
    border-radius: 10px;
    aspect-ratio: 1/1;
    box-shadow: white 0 0 5px;
    transition: background-color 0.5s ease-in-out, box-shadow 0.2s ease-out;
}

.project-link:hover {
    cursor: pointer;
    background-color: var(--background-secondary-lighter);
    box-shadow: white 0 0 10px;
}

.project-link img {
    width: 3em;
}

.social-list-element {
    appearance: none;
    border: none;
    background: none;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
    border-radius: 20px;
    transition: background 0.2s ease-in-out;
}

.social-list-element:hover {
    cursor: pointer;
    background-color: var(--background-secondary-lighter);
}

.social-list-element img {
    width: 5em;
}

.social-list-element .line {
    height: 3em;
}

#name {
    color: var(--blue);
}

#about-me {
    display: flex;
    justify-content: center;
    align-items: normal;
    flex-direction: row;
}

#about-me-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#pixel-artist {
    font-family: 'Pixelify Sans';
    color: var(--red);
}

#developer {
    color: var(--purple);
}

#projects {
    gap: 2em;
}

#socials {
    gap: 2em;
}

#social-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}